.img-resize {
  display: block;
  position: relative;
  height: -moz-max-content;
  height: max-content;
}
.img-resize:before {
  padding-bottom: 62.5%;
  content: "";
  display: block;
}
.img-resize img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  margin: auto;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 768px) {
  .table-booking .tb-row {
    display: block !important;
  }
}
.table-booking .tb-row .detail-tb {
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .table-booking .tb-row .detail-tb {
    flex-direction: initial;
  }
}
.table-booking .tb-row .detail-tb .item-desr {
  width: 100%;
  position: relative;
}
@media (max-width: 768px) {
  .table-booking .tb-row .detail-tb .item-desr {
    order: 1;
    border-bottom: 0.5px solid #eeeeee;
    padding-bottom: 14px;
  }
}
.table-booking .tb-row .detail-tb .item-desr.show-full .views {
  display: none !important;
}
@media (max-width: 768px) {
  .table-booking .tb-row .detail-tb .item-desr.show-full .desr {
    width: 100%;
    display: block !important;
    overflow: initial;
    text-overflow: initial;
    -webkit-line-clamp: none;
    display: -webkit-box;
    -webkit-box-orient: inherit;
  }
}
.table-booking .tb-row .detail-tb .desr {
  display: block;
  width: 100%;
  font-family: Roboto-Medium;
  font-weight: 400;
  font-style: Italic;
  font-size: 13px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0px;
  color: #846536;
  margin: 0;
}
@media (max-width: 768px) {
  .table-booking .tb-row .detail-tb .desr {
    font-size: 12px;
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: calc(100% - 57px);
    line-height: 20px;
  }
}
.table-booking .tb-row .detail-tb .views {
  display: none;
}
@media (max-width: 768px) {
  .table-booking .tb-row .detail-tb .views {
    display: inline-block;
    font-family: Roboto-Medium;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0px;
    color: #7367f0;
    position: absolute;
    top: 3px;
    right: 0;
  }
}
.table-booking .list-hd {
  justify-content: start;
  gap: 12px;
}
.table-booking .list-hd .tb-hd:nth-child(1), .table-booking .list-hd .tb-hd:nth-child(2), .table-booking .list-hd .tb-hd:nth-child(3), .table-booking .list-hd .tb-hd:nth-child(4) {
  width: 18%;
}
.table-booking .list-hd .tb-hd:last-child {
  flex: 1;
}
.table-booking .table-content .user-number {
  display: block;
  font-family: Roboto-Medium;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  color: #555555;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .table-booking .table-content .date-time-book {
    font-size: 13px;
  }
}
.table-booking .table-content .date-time-book .time-book {
  color: #7367f0;
}
@media (max-width: 768px) {
  .table-booking .table-content .date-time-book .time-book {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .table-booking .table-content .address-book {
    font-size: 13px;
  }
}
.table-booking .table-content .name-cus,
.table-booking .table-content .phone-cus {
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .table-booking .table-content .name-cus,
  .table-booking .table-content .phone-cus {
    font-size: 13px;
  }
}
.table-booking .table-content .info-cus {
  padding-bottom: 0px;
}
.table-booking .table-content .extra-info {
  position: initial;
  display: block;
  white-space: initial;
}
@media (max-width: 768px) {
  .table-booking .table-content .extra-info {
    padding-bottom: 0px;
    border-bottom: 0;
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .table-booking .table-content .extra-info .view-menu {
    font-size: 13px;
  }
}
.table-booking .table-content .detail-tb {
  justify-content: start;
  gap: 12px;
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb {
    gap: 14px;
  }
}
.table-booking .table-content .detail-tb .info-booking {
  width: 18%;
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb .info-booking {
    width: calc(50% - 7px);
    border-bottom: 0;
    padding-bottom: 0;
    position: relative;
  }
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb .info-booking:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 0.5px solid #eeeeee;
  }
}
.table-booking .table-content .detail-tb .info-cus {
  width: 18%;
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb .info-cus {
    width: calc(50% - 7px);
    border-bottom: 0;
    padding-bottom: 0;
  }
}
.table-booking .table-content .detail-tb .people {
  width: 18%;
  font-family: Roboto-Medium;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0px;
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb .people {
    width: 100%;
    border-top: 0.5px solid #eeeeee;
    padding: 14px 0;
    font-size: 13px;
    order: 1;
  }
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb .people .bold {
    font-weight: 600;
  }
}
.table-booking .table-content .detail-tb .people.discount {
  color: #bbbbbb;
}
.table-booking .table-content .detail-tb .funcs-book-group {
  width: 18%;
  align-items: start;
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb .funcs-book-group {
    order: 2;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    width: calc(50% - 6px);
    gap: 0;
  }
}
.table-booking .table-content .detail-tb .funcs-book-group.funcs-book-2 {
  flex: 1;
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb .funcs-book-group.funcs-book-2 .select-booking-stt {
    margin-right: 8px;
  }
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb .funcs-book-group .select-booking-stt {
    flex: 1;
  }
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb .funcs-book-group .select-booking-stt .selected {
    background: #fff;
    padding: 5px;
    height: auto;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb .funcs-book-group .select-booking-stt .selected::after {
    width: 10px;
    height: 10px;
    right: 6px;
  }
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb .funcs-book-group .select-booking-stt .selected .icn {
    margin-right: 8px;
  }
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb .funcs-book-group .edit-btn {
    display: none;
  }
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb .funcs-book-group .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
  }
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb .funcs-book-group .btn-group .btn {
    padding: 5px;
  }
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb .funcs-book-group .btn-group .btn svg {
    position: relative;
    right: 0px;
  }
}
.table-booking .table-content .detail-tb .funcs-book-group .title {
  display: none;
  font-family: Roboto-Medium;
  font-weight: 500;
  font-style: Medium;
  font-size: 11px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  color: #111111;
}
@media (max-width: 768px) {
  .table-booking .table-content .detail-tb .funcs-book-group .title {
    display: block;
    width: 100%;
  }
}
.table-booking .table-content .detail-tb .address-book {
  font-family: Roboto-Medium;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  leading-trim: NONE;
  line-height: 101%;
  letter-spacing: 0px;
}
.table-booking .table-content .detail-tb .number-of-table {
  display: flex;
  gap: 3px;
  margin-top: 8px;
}
.table-booking .table-content .detail-tb .number-of-table .tso {
  font-family: Roboto-Medium;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  leading-trim: NONE;
  line-height: 101%;
  letter-spacing: 0px;
  color: #555555;
  margin: 0;
}
.table-booking .table-content .detail-tb .number-of-table .value {
  font-family: Roboto-Medium;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  leading-trim: NONE;
  line-height: 101%;
  letter-spacing: 0px;
  color: #bbbbbb;
}
.table-booking .table-content .detail-tb .number-of-table .value.yes {
  color: #ea5455;
}

@media (max-width: 768px) {
  .content-booking .table-booking .filter-box {
    position: sticky;
    top: 75px;
    z-index: 9;
  }
}
@media (max-width: 768px) {
  .content-booking .funcs-head-booking .box-right {
    order: -1;
  }
}
@media (max-width: 768px) {
  .content-booking .funcs-head-booking .box-right .btn {
    padding: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
  }
}
@media (max-width: 768px) {
  .content-booking .funcs-head-booking .box-mid {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .content-booking .funcs-head-booking .box-mid .bh-seacrh {
    width: 100%;
    padding: 4px 1.1rem;
  }
}
@media (max-width: 768px) {
  .content-booking .funcs-head-booking .box-mid .vue-select-base-on-input,
  .content-booking .funcs-head-booking .box-mid .form-date {
    width: calc(50% - 6px);
  }
}
@media (max-width: 768px) {
  .content-booking .funcs-head-booking .box-mid .vue-date-picker-html {
    width: calc(50% - 6px);
  }
}
@media (max-width: 768px) {
  .content-booking .funcs-head-booking .box-mid .form-date {
    padding: 9px 15px;
  }
}

.table-booking .table-content .detail-tb .people {
  font-family: "Roboto-Regular";
}

.table-booking .tb-row .detail-tb .desr {
  font-family: "Roboto-Regular";
}

.table-booking .detail-tb .date-time-book .time-book {
  color: #7367f0;
}

.table-booking .detail-tb .view-menu {
  font-family: "Roboto-Bold";
}

.table-code-color {
  color: #ea5455 !important;
}

.table-booking .detail-tb .phone-cus {
  font-family: Roboto-Medium;
}

.table-booking .detail-tb .address-book {
  font-size: 13px;
}

.table-booking .table-content .detail-tb .number-of-table .value,
.table-booking .table-content .detail-tb .number-of-table .tso {
  font-family: "Roboto-Regular";
}

.table-booking .detail-tb .date-time-book {
  margin-bottom: 5px;
}

.table-booking .detail-tb .address-book {
  line-height: 120%;
}

.table-booking .detail-tb .name-cus {
  font-family: "Roboto-Medium";
}

.page-calendar {
  padding-bottom: 30px;
}
.page-calendar .fc {
  background: #fff;
}
.page-calendar .fc .fc-toolbar {
  border-radius: 0px 6px 0px 0px;
  border-top: 1px solid #e9eaec;
  border-left: 1px solid #e9eaec;
  border-right: 1px solid #e9eaec;
  margin-bottom: 0;
  padding: 24px 10px 24px 30px;
  justify-content: start;
}
.page-calendar .fc .fc-toolbar .fc-prev-button {
  background: #fff !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.page-calendar .fc .fc-toolbar .fc-prev-button .fc-icon-chevron-left:before {
  color: #6c757d;
}
.page-calendar .fc .fc-toolbar .fc-next-button {
  background: #fff !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.page-calendar .fc .fc-toolbar .fc-next-button .fc-icon-chevron-right:before {
  color: #6c757d;
}
.page-calendar .fc .fc-toolbar .fc-toolbar-chunk:first-child {
  order: -1;
}
.page-calendar .fc .fc-toolbar .fc-toolbar-chunk:last-child {
  order: -1;
}
.page-calendar .fc .fc-toolbar .fc-toolbar-chunk .fc-toolbar-title {
  color: #5e5873;
  font-family: Roboto-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.page-calendar .fc .fc-view-harness .fc-scrollgrid {
  border-collapse: collapse;
  border: 1px solid #e9eaec;
}
.page-calendar .fc .fc-view-harness .fc-scrollgrid .fc-scrollgrid-section .fc-daygrid-day.fc-day-today {
  background: rgba(115, 103, 240, 0.08);
}
.page-calendar .fc .fc-view-harness .fc-scrollgrid .fc-scrollgrid-section .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame {
  border: 1px solid #7367f0;
  background: rgba(115, 103, 240, 0.08);
}
.page-calendar .fc .fc-view-harness .fc-scrollgrid .fc-scrollgrid-section .fc-daygrid-day.fc-day-other .fc-daygrid-day-top {
  flex-direction: inherit;
  color: #b9b9c3;
  font-family: Roboto-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 150% */
  opacity: 1;
}
.page-calendar .fc .fc-view-harness .fc-scrollgrid .fc-scrollgrid-section .fc-daygrid-day.special-day .fc-daygrid-day-number {
  display: block;
  color: #ea5455;
  font-family: Roboto-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  /* 150% */
  padding: 0;
}
.page-calendar .fc .fc-view-harness .fc-scrollgrid .fc-scrollgrid-section .fc-daygrid-day .fc-daygrid-day-bg .fc-highlight {
  background: rgba(115, 103, 240, 0.08);
}
.page-calendar .fc .fc-view-harness .fc-scrollgrid .fc-scrollgrid-section .fc-daygrid-day .fc-daygrid-day-events .fc-daygrid-event-harness .fc-daygrid-event {
  padding: 0px 10px 0px 8px;
  margin: 0;
}
.page-calendar .fc .fc-view-harness .fc-scrollgrid .fc-scrollgrid-section .fc-daygrid-day .fc-daygrid-day-events .fc-daygrid-event-harness .fc-daygrid-event .fc-daygrid-event-dot {
  display: none;
}
.page-calendar .fc .fc-view-harness .fc-scrollgrid .fc-scrollgrid-section .fc-daygrid-day .fc-daygrid-day-events .fc-daygrid-event-harness .fc-daygrid-event .fc-event-title {
  display: block;
  color: #111;
  font-family: Roboto-Medium;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  flex-grow: initial;
  flex-shrink: initial;
  min-width: initial;
  overflow: inherit;
  white-space: initial;
}
.page-calendar .fc .fc-view-harness .fc-scrollgrid .fc-scrollgrid-section .fc-daygrid-day .fc-daygrid-day-events .custom-injected-text {
  padding: 0px 10px 0px 8px;
  display: block;
  color: #111;
  font-family: Roboto-Medium;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  flex-grow: initial;
  flex-shrink: initial;
  min-width: initial;
  overflow: inherit;
  white-space: initial;
}
.page-calendar .fc .fc-view-harness .fc-scrollgrid .fc-scrollgrid-section .fc-daygrid-day .fc-daygrid-day-top {
  flex-direction: inherit;
  padding: 5px 10px 3px 8px;
  color: #6e6b7b;
  font-family: Roboto-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 150% */
}

.modal .form-menu {
  margin-right: 22px;
  padding: 22px 0 22px 30px;
}
.modal .form-menu .card {
  margin-bottom: 0;
  box-shadow: none;
}
.modal .form-menu .card .card-header {
  padding: 0;
  display: block;
  margin-bottom: 25px;
}
.modal .form-menu .card .card-header .flex-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal .form-menu .card .card-header .flex-header .left .address {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Roboto-Medium;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 15px */
}
.modal .form-menu .card .card-header .flex-header .left .date {
  display: block;
  color: #111;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Roboto-Medium;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.modal .form-menu .card .form-check {
  margin-right: 0;
}
.modal .form-menu .card .form-check .form-check-input {
  filter: drop-shadow(0px 1.8px 3.6px #7367f0);
  margin-top: -2px;
  width: 18px;
  height: 18px;
}
.modal .form-menu .card .form-check .form-check-label {
  display: block;
  color: #111;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Roboto-Medium;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  padding-left: 8px;
  line-height: 100%;
  /* 15px */
}
.modal .form-menu .card .card-body {
  padding: 0;
}
.modal .form-menu .card .card-body .demo-inline-spacing {
  gap: 20px;
}
.modal .form-menu .card .card-body .demo-inline-spacing .form-check {
  margin: 0;
  padding-left: 22px;
  width: calc(16.666% - 17px);
}

.modal .form-menu .card .card-body .demo-inline-spacing .form-check {
  padding-top: 3px;
  padding-bottom: 3px;
}

.modal .form-menu .card .form-check .form-check-label {
  padding-left: 7px;
}

.fc .fc-daygrid-day-frame {
  cursor: pointer;
}

.box-photoslide {
  border-radius: 5px;
  border: 1px solid #efefef;
  background: #fff;
  margin-top: 25px;
}
.box-photoslide .box-photo-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #efefef;
}
.box-photoslide .box-photo-top .title {
  color: #111;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Roboto-Medium;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 0;
}
.box-photoslide .box-photo-top .box-right {
  display: flex;
  gap: 14px;
  align-items: center;
}
.box-photoslide .box-photo-top .box-right .btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  background: #7367f0;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.box-photoslide .box-photo-top .box-right .drop {
  display: inline-flex;
  cursor: pointer;
}
.box-photoslide .box-slide-defoult {
  padding: 15px 20px;
  border-bottom: 1px solid #efefef;
}
.box-photoslide .box-slide-defoult.slider-images {
  border-bottom: 0;
}
.box-photoslide .box-slide-defoult .flex-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.box-photoslide .box-slide-defoult .flex-top .text {
  display: block;
  color: #111;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Roboto-Medium;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.box-photoslide .box-slide-defoult .flex-top .remove {
  display: block;
  color: #ea5455;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Roboto-Medium;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.box-photoslide .box-slide-defoult .list-add {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 12px;
}
.box-photoslide .box-slide-defoult .list-add .box-item {
  width: calc(20% - 8px);
  height: 75px;
}
.box-photoslide .box-slide-defoult .list-add .box-item .item-add {
  border-radius: 5px;
  border: 1px solid #d8d6de;
  background: #f8f8f8;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.box-photoslide .box-slide-defoult .list-add .box-item .images-fd {
  width: 100%;
  height: 100%;
  position: relative;
}
.box-photoslide .box-slide-defoult .list-add .box-item .images-fd:before {
  padding-bottom: 100%;
}
.box-photoslide .box-slide-defoult .list-add .box-item .images-fd img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-photoslide .box-slide-defoult .list-add .box-item .images-fd:hover .child-remove {
  opacity: 1;
  z-index: 3;
}
.box-photoslide .box-slide-defoult .list-add .box-item .images-fd .child-remove {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.box-photoslide .box-slide-defoult .list-add .box-item .images-fd .child-remove .remove {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Roboto-Medium;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.box-photoslide .box-slide-defoult .form-input {
  margin-bottom: 12px;
}
.box-photoslide .box-slide-defoult .form-input .form-control {
  border-radius: 3px;
  border: 1px solid #efefef;
  background: #fff;
  padding: 5px;
  color: #111;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Roboto-Medium;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 13px */
}
.box-photoslide .box-slide-defoult .form-input .form-control::-moz-placeholder {
  opacity: 0.4;
  color: #111;
}
.box-photoslide .box-slide-defoult .form-input .form-control::placeholder {
  opacity: 0.4;
  color: #111;
}
.box-photoslide .box-slide-defoult .form-code {
  display: flex;
  align-items: center;
  gap: 10px;
}
.box-photoslide .box-slide-defoult .form-code .content-code {
  border-radius: 999px;
  background: #f2f2f2;
  padding: 3px 8px;
  width: calc(100% - 60px);
}
.box-photoslide .box-slide-defoult .form-code .content-code .code-snippet {
  white-space: nowrap;
  overflow: hidden;
  color: #555;
  font-feature-settings: "liga" off, "clig" off;
  text-overflow: ellipsis;
  font-family: Roboto-Medium;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 13px */
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.box-photoslide .box-slide-defoult .form-code .coppy {
  display: flex;
  border-radius: 999px;
  background: #555;
  padding: 4px 8px;
  overflow: hidden;
  color: #fff;
  font-feature-settings: "liga" off, "clig" off;
  text-overflow: ellipsis;
  font-family: Roboto-Medium;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}/*# sourceMappingURL=editkhoi.css.map */