.table-booking {
  .tb-row {
    @media (max-width: 768px) {
      display: block !important;
    }

    .detail-tb {
      flex-wrap: wrap;

      @media (max-width: 768px) {
        flex-direction: initial;
      }

      .item-desr {
        width: 100%;
        position: relative;

        @media (max-width: 768px) {
          order: 1;
          border-bottom: 0.5px solid #eeeeee;
          padding-bottom: 14px;
        }

        &.show-full {
          .views {
            display: none !important;
          }

          .desr {
            @media (max-width: 768px) {
              width: 100%;
              display: block !important;
              overflow: initial;
              text-overflow: initial;
              -webkit-line-clamp: none;
              display: -webkit-box;
              -webkit-box-orient: inherit;
            }
          }
        }
      }

      .desr {
        display: block;
        width: 100%;
        font-family: Roboto-Medium;
        font-weight: 400;
        font-style: Italic;
        font-size: 13px;
        leading-trim: NONE;
        line-height: 120%;
        letter-spacing: 0px;
        color: #846536;
        margin: 0;

        @media (max-width: 768px) {
          font-size: 12px;
          display: inline;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          width: calc(100% - 57px);
          line-height: 20px;
        }
      }

      .views {
        display: none;

        @media (max-width: 768px) {
          display: inline-block;
          font-family: Roboto-Medium;
          font-weight: 500;
          font-style: Medium;
          font-size: 12px;
          leading-trim: NONE;
          line-height: 120%;
          letter-spacing: 0px;
          color: #7367f0;
          position: absolute;
          top: 3px;
          right: 0;
        }
      }
    }
  }

  .list-hd {
    justify-content: start;
    gap: 12px;

    .tb-hd {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        width: 18%;
      }

      &:last-child {
        flex: 1;
      }
    }
  }

  .table-content {
    .user-number {
      display: block;
      font-family: Roboto-Medium;
      font-weight: 400;
      font-style: Regular;
      font-size: 13px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0px;
      color: #555555;
      margin-bottom: 8px;
    }

    .date-time-book {
      @media (max-width: 768px) {
        font-size: 13px;
      }

      .time-book {
        color: #7367f0;

        @media (max-width: 768px) {
          font-size: 13px;
        }
      }
    }

    .address-book {
      @media (max-width: 768px) {
        font-size: 13px;
      }
    }

    .name-cus,
    .phone-cus {
      margin-bottom: 8px;

      @media (max-width: 768px) {
        font-size: 13px;
      }
    }

    .info-cus {
      padding-bottom: 0px;
    }

    .extra-info {
      position: initial;
      display: block;
      white-space: initial;

      @media (max-width: 768px) {
        padding-bottom: 0px;
        border-bottom: 0;
        font-size: 13px;
      }

      .view-menu {
        @media (max-width: 768px) {
          font-size: 13px;
        }
      }
    }

    .detail-tb {
      justify-content: start;
      gap: 12px;

      @media (max-width: 768px) {
        gap: 14px;
      }

      .info-booking {
        width: 18%;

        @media (max-width: 768px) {
          width: calc(50% - 7px);
          border-bottom: 0;
          padding-bottom: 0;
          position: relative;
        }

        &:before {
          @media (max-width: 768px) {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-right: 0.5px solid #eeeeee;
          }
        }
      }

      .info-cus {
        width: 18%;

        @media (max-width: 768px) {
          width: calc(50% - 7px);
          border-bottom: 0;
          padding-bottom: 0;
        }
      }

      .people {
        width: 18%;
        font-family: Roboto-Medium;
        font-weight: 400;
        font-style: Regular;
        font-size: 13px;
        leading-trim: NONE;
        line-height: 120%;
        letter-spacing: 0px;

        @media (max-width: 768px) {
          width: 100%;
          border-top: 0.5px solid #eeeeee;
          padding: 14px 0;
          font-size: 13px;
          order: 1;
        }

        .bold {
          @media (max-width: 768px) {
            font-weight: 600;
          }
        }

        &.discount {
          color: #bbbbbb;
        }
      }

      .funcs-book-group {
        width: 18%;
        align-items: start;

        @media (max-width: 768px) {
          order: 2;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: start;
          width: calc(50% - 6px);
          gap: 0;
        }

        &.funcs-book-2 {
          flex: 1;

          .select-booking-stt {
            @media (max-width: 768px) {
              margin-right: 8px;
            }
          }
        }

        .select-booking-stt {
          @media (max-width: 768px) {
            flex: 1;
          }

          .selected {
            @media (max-width: 768px) {
              background: #fff;
              padding: 5px;
              height: auto;
              font-size: 12px;
            }

            &::after {
              @media (max-width: 768px) {
                width: 10px;
                height: 10px;
                right: 6px;
              }
            }

            .icn {
              @media (max-width: 768px) {
                margin-right: 8px;
              }
            }
          }
        }

        .edit-btn {
          @media (max-width: 768px) {
            display: none;
          }
        }

        .btn-group {
          @media (max-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
          }

          .btn {
            @media (max-width: 768px) {
              padding: 5px;
            }

            svg {
              @media (max-width: 768px) {
                position: relative;
                right: 0px;
              }
            }
          }
        }

        .title {
          display: none;
          font-family: Roboto-Medium;
          font-weight: 500;
          font-style: Medium;
          font-size: 11px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0px;
          color: #111111;

          @media (max-width: 768px) {
            display: block;
            width: 100%;
          }
        }
      }

      .address-book {
        font-family: Roboto-Medium;
        font-weight: 400;
        font-style: Regular;
        font-size: 13px;
        leading-trim: NONE;
        line-height: 101%;
        letter-spacing: 0px;
      }

      .number-of-table {
        display: flex;
        gap: 3px;
        margin-top: 8px;

        .tso {
          font-family: Roboto-Medium;
          font-weight: 400;
          font-style: Regular;
          font-size: 13px;
          leading-trim: NONE;
          line-height: 101%;
          letter-spacing: 0px;
          color: #555555;
          margin: 0;
        }

        .value {
          font-family: Roboto-Medium;
          font-weight: 400;
          font-style: Regular;
          font-size: 13px;
          leading-trim: NONE;
          line-height: 101%;
          letter-spacing: 0px;
          color: #bbbbbb;

          &.yes {
            color: #ea5455;
          }
        }
      }
    }
  }
}

.content-booking {
  .table-booking {
    .filter-box {
      @media (max-width: 768px) {
        position: sticky;
        top: 75px;
        z-index: 9;
      }
    }
  }

  .funcs-head-booking {
    .box-right {
      @media (max-width: 768px) {
        order: -1;
      }

      .btn {
        @media (max-width: 768px) {
          padding: 8px;
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
        }
      }
    }

    .box-mid {
      @media (max-width: 768px) {
        flex-wrap: wrap;
      }

      .bh-seacrh {
        @media (max-width: 768px) {
          width: 100%;
          padding: 4px 1.1rem;
        }
      }

      .vue-select-base-on-input,
      .form-date {
        @media (max-width: 768px) {
          width: calc(50% - 6px);
        }
      }

      .vue-date-picker-html {
        @media (max-width: 768px) {
          width: calc(50% - 6px);
        }
      }

      .form-date {
        @media (max-width: 768px) {
          padding: 9px 15px;
        }
      }
    }
  }
}

.table-booking .table-content .detail-tb .people {
  font-family: "Roboto-Regular";
}

.table-booking .tb-row .detail-tb .desr {
  font-family: "Roboto-Regular";
}

.table-booking .detail-tb .date-time-book .time-book {
  color: #7367f0;
}

.table-booking .detail-tb .view-menu {
  font-family: "Roboto-Bold";
}

.table-code-color {
  color: #ea5455 !important;
}

.table-booking .detail-tb .phone-cus {
  font-family: Roboto-Medium;
}

.table-booking .detail-tb .address-book {
  font-size: 13px;
}

.table-booking .table-content .detail-tb .number-of-table .value,
.table-booking .table-content .detail-tb .number-of-table .tso {
  font-family: "Roboto-Regular";
}

.table-booking .detail-tb .date-time-book {
  margin-bottom: 5px;
}

.table-booking .detail-tb .address-book {
  line-height: 120%;
}

.table-booking .detail-tb .name-cus {
  font-family: "Roboto-Medium";
}

.page-calendar {
  padding-bottom: 30px;

  .fc {
    background: #fff;

    .fc-toolbar {
      border-radius: 0px 6px 0px 0px;
      border-top: 1px solid #e9eaec;
      border-left: 1px solid #e9eaec;
      border-right: 1px solid #e9eaec;
      margin-bottom: 0;
      padding: 24px 10px 24px 30px;
      justify-content: start;

      .fc-prev-button {
        background: #fff !important;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;

        .fc-icon-chevron-left {
          &:before {
            color: #6c757d;
          }
        }
      }

      .fc-next-button {
        background: #fff !important;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;

        .fc-icon-chevron-right {
          &:before {
            color: #6c757d;
          }
        }
      }

      .fc-toolbar-chunk {
        &:first-child {
          order: -1;
        }

        &:last-child {
          order: -1;
        }

        .fc-toolbar-title {
          color: #5e5873;
          font-family: Roboto-Medium;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: capitalize;
        }
      }
    }

    .fc-view-harness {
      .fc-scrollgrid {
        border-collapse: collapse;
        border: 1px solid #e9eaec;
      }

      .fc-scrollgrid {
        .fc-scrollgrid-section {
          .fc-daygrid-day {
            &.fc-day-today {
              background: rgba(115, 103, 240, 0.08);

              .fc-daygrid-day-frame {
                border: 1px solid #7367f0;
                background: rgba(115, 103, 240, 0.08);
              }
            }

            &.fc-day-other {
              .fc-daygrid-day-top {
                flex-direction: inherit;
                color: #b9b9c3;
                font-family: Roboto-Medium;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
                /* 150% */
                opacity: 1;
              }
            }

            &.special-day {
              .fc-daygrid-day-number {
                display: block;
                color: #ea5455;
                font-family: Roboto-Medium;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 21px;
                /* 150% */
                padding: 0;
              }
            }

            .fc-daygrid-day-frame {
            }

            .fc-daygrid-day-bg {
              .fc-highlight {
                background: rgba(115, 103, 240, 0.08);
              }
            }

            .fc-daygrid-day-events {
              .fc-daygrid-event-harness {
                .fc-daygrid-event {
                  padding: 0px 10px 0px 8px;
                  margin: 0;

                  .fc-daygrid-event-dot {
                    display: none;
                  }

                  .fc-event-title {
                    display: block;
                    color: #111;
                    font-family: Roboto-Medium;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    flex-grow: initial;
                    flex-shrink: initial;
                    min-width: initial;
                    overflow: inherit;
                    white-space: initial;
                  }
                }
              }

              .custom-injected-text {
                padding: 0px 10px 0px 8px;
                display: block;
                color: #111;
                font-family: Roboto-Medium;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                flex-grow: initial;
                flex-shrink: initial;
                min-width: initial;
                overflow: inherit;
                white-space: initial;
              }
            }

            .fc-daygrid-day-top {
              flex-direction: inherit;
              padding: 5px 10px 3px 8px;
              color: #6e6b7b;
              font-family: Roboto-Medium;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
              /* 150% */
            }
          }
        }
      }
    }
  }
}

.modal {
  .form-menu {
    margin-right: 22px;
    padding: 22px 0 22px 30px;

    .card {
      margin-bottom: 0;
      box-shadow: none;

      .card-header {
        padding: 0;
        display: block;
        margin-bottom: 25px;

        .flex-header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .left {
            .address {
              display: block;
              margin-bottom: 5px;
              color: #555;
              font-feature-settings: "liga" off, "clig" off;
              font-family: Roboto-Medium;
              font-size: 15px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%;
              /* 15px */
            }

            .date {
              display: block;
              color: #111;
              font-feature-settings: "liga" off, "clig" off;
              font-family: Roboto-Medium;
              font-size: 19px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%;
            }
          }
        }
      }

      .form-check {
        margin-right: 0;

        .form-check-input {
          filter: drop-shadow(0px 1.8px 3.6px #7367f0);
          margin-top: -2px;
          width: 18px;
          height: 18px;
        }

        .form-check-label {
          display: block;
          color: #111;
          font-feature-settings: "liga" off, "clig" off;
          font-family: Roboto-Medium;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          padding-left: 8px;
          line-height: 100%;
          /* 15px */
        }
      }

      .card-body {
        padding: 0;

        .demo-inline-spacing {
          gap: 20px;

          .form-check {
            margin: 0;
            padding-left: 22px;
            width: calc(16.666% - 17px);
          }
        }
      }
    }
  }
}

.modal .form-menu .card .card-body .demo-inline-spacing .form-check {
  padding-top: 3px;
  padding-bottom: 3px;
}

.modal .form-menu .card .form-check .form-check-label {
  padding-left: 7px;
}

.fc .fc-daygrid-day-frame {
  cursor: pointer;
}

.box-photoslide {
  border-radius: 5px;
  border: 1px solid #efefef;
  background: #fff;
  margin-top: 25px;

  .box-photo-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #efefef;

    .title {
      color: #111;
      font-feature-settings: "liga" off, "clig" off;
      font-family: Roboto-Medium;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      margin-bottom: 0;
    }

    .box-right {
      display: flex;
      gap: 14px;
      align-items: center;

      .btn-add {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 999px;
        background: #7367f0;
        width: 28px;
        height: 28px;
        cursor: pointer;
      }

      .drop {
        display: inline-flex;
        cursor: pointer;
      }
    }
  }

  .box-slide-defoult {
    padding: 15px 20px;
    border-bottom: 1px solid #efefef;

    &.slider-images {
      border-bottom: 0;
    }

    .flex-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;

      .text {
        display: block;
        color: #111;
        font-feature-settings: "liga" off, "clig" off;
        font-family: Roboto-Medium;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
      }

      .remove {
        display: block;
        color: #ea5455;
        font-feature-settings: "liga" off, "clig" off;
        font-family: Roboto-Medium;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
      }
    }

    .list-add {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 12px;

      .box-item {
        width: calc(20% - 8px);
        height: 55px;

        .item-add {
          border-radius: 5px;
          border: 1px solid #d8d6de;
          background: #f8f8f8;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }

        .images-fd {
          width: 100%;
          height: 100%;
          position: relative;

          img {
            border-radius: 5px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &:hover {
            .child-remove {
              opacity: 1;
              z-index: 3;
            }
          }

          .child-remove {
            opacity: 0;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.7) 0%,
              rgba(0, 0, 0, 0.7) 100%
            );
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.5s;

            .remove {
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              font-feature-settings: "liga" off, "clig" off;
              font-family: Roboto-Medium;
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: 100%;
            }
          }
        }
      }
    }

    .form-input {
      margin-bottom: 12px;

      .form-control {
        border-radius: 3px;
        border: 1px solid #efefef;
        background: #fff;
        padding: 5px;
        color: #111;
        font-feature-settings: "liga" off, "clig" off;
        font-family: Roboto-Medium;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 13px */

        &::placeholder {
          opacity: 0.4;
          color: #111;
        }
      }
    }

    .form-code {
      display: flex;
      align-items: center;
      gap: 10px;

      .content-code {
        border-radius: 999px;
        background: #f2f2f2;
        padding: 3px 8px;
        width: calc(100% - 60px);

        .code-snippet {
          white-space: nowrap;
          overflow: hidden;
          color: #555;
          font-feature-settings: "liga" off, "clig" off;
          text-overflow: ellipsis;
          font-family: Roboto-Medium;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%; /* 13px */
          -webkit-line-clamp: 1;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
      }

      .coppy {
        display: flex;
        border-radius: 999px;
        background: #555;
        padding: 4px 8px;
        overflow: hidden;
        color: #fff;
        font-feature-settings: "liga" off, "clig" off;
        text-overflow: ellipsis;
        font-family: Roboto-Medium;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
      }
    }
  }
}
