.coso-wrapper {
  background: #f8f8f8;
}

.coso-content {
  padding: 40px 0;
}
.coso-content .cc-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}
.coso-content .cc-wrapper:nth-last-child(1) {
  margin-bottom: 0;
}
.coso-content .cc-wrapper .cc-label {
  font-size: 26px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #999999;
  font-family: "PlusJaS-Bold";
  margin-bottom: 33px;
}
.coso-content .cc-wrapper .ccBox-wrapper {
  display: flex;
  flex-direction: column;
}
.coso-content .cc-wrapper .ccBox {
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 20px;
  padding: 25px 25px 25px 36px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.coso-content .cc-wrapper .ccBox.status-type-1 .ccb-left .ccbl-status .status-noti .noti-green {
  display: block;
}
.coso-content .cc-wrapper .ccBox.status-type-2 .ccb-left .ccbl-status .status-noti .noti-red {
  display: block;
}
.coso-content .cc-wrapper .ccBox.status-type-3 .ccb-left .ccbl-status .status-noti .noti-orange {
  display: block;
}
.coso-content .cc-wrapper .ccBox.status-type-3 .ccb-left .ccbl-listActionLink .action-link-item.disableOrder .action-link {
  background: #F5F5F5;
  cursor: default;
}
.coso-content .cc-wrapper .ccBox.status-type-3 .ccb-left .ccbl-listActionLink .action-link-item.disableOrder .action-link .icn svg path {
  fill: #CECECE;
}
.coso-content .cc-wrapper .ccBox.status-type-3 .ccb-left .ccbl-listActionLink .action-link-item.disableOrder .action-link .txt {
  color: #CECECE;
}
.coso-content .cc-wrapper .ccBox .ccb-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 35px;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-tiltle {
  margin-bottom: 15px;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-tiltle a {
  font-size: 38px;
  line-height: 110%;
  font-family: "TiltWarp-Regular";
  letter-spacing: -0.02em;
  color: #1B4E30;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-des {
  font-size: 20px;
  line-height: 100%;
  font-family: "PlusJaS-Medium";
  color: #666666;
  margin-bottom: 15px;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-status {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-status .status-noti {
  margin-right: 15px;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-status .status-noti .noti-green,
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-status .status-noti .noti-red,
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-status .status-noti .noti-orange {
  display: none;
  font-size: 11px;
  line-height: 14px;
  font-family: "PlusJaS-Bold";
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 4px 7px;
  box-sizing: border-box;
  border-radius: 25px;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-status .status-noti .noti-green {
  background: #23C346;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-status .status-noti .noti-red {
  background: #FF3A3A;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-status .status-noti .noti-orange {
  background: #F87C37;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-status .time-txt {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #777777;
  font-family: "PlusJaS-Medium";
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-about {
  display: flex;
  margin-bottom: 40px;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-about .aboutCol {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 120px;
  border-right: 1px solid #E1E1E1;
  padding-left: 20px;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-about .aboutCol:first-child {
  padding-left: 0;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-about .aboutCol .ac-label {
  font-size: 12px;
  line-height: 15px;
  color: #777777;
  font-family: "PlusJaS-Medium";
  margin-bottom: 2px;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-about .aboutCol .ac-value {
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  font-family: "PlusJaS-Bold";
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-listActionLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-listActionLink .action-link-item {
  width: calc(100% - 30px)/3;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-listActionLink .action-link-item .action-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 35px;
  height: 50px;
  box-sizing: border-box;
  background: #F5F5F5;
  border-radius: 5px;
  transition: 0.25s ease;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-listActionLink .action-link-item .action-link:hover {
  background: #1b4e30;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-listActionLink .action-link-item .action-link:hover .txt {
  color: #fff;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-listActionLink .action-link-item .action-link:hover .icn svg path {
  fill: #fff;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-listActionLink .action-link-item .action-link .icn {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-listActionLink .action-link-item .action-link .txt {
  font-size: 16px;
  line-height: 100%;
  color: #1B4E30;
  font-family: "PlusJaS-SemiBold";
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-phone .phoneNumber {
  display: inline-flex;
  align-items: center;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-phone .phoneNumber .icn {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.coso-content .cc-wrapper .ccBox .ccb-left .ccbl-phone .phoneNumber .txt {
  font-size: 15px;
  line-height: 100%;
  color: #222222;
  font-family: "PlusJaS-SemiBold";
}
.coso-content .cc-wrapper .ccBox .ccb-right {
  width: 37%;
}
.coso-content .cc-wrapper .ccBox .ccb-right .ccbr-gallery {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.coso-content .cc-wrapper .ccBox .ccb-right .ccbr-gallery:hover .swiper-button-next,
.coso-content .cc-wrapper .ccBox .ccb-right .ccbr-gallery:hover .swiper-button-prev {
  opacity: 1;
}
.coso-content .cc-wrapper .ccBox .ccb-right .ccbr-gallery .ccbrg-content {
  display: flex;
  width: 100%;
}
.coso-content .cc-wrapper .ccBox .ccb-right .ccbr-gallery .ccbrg-content .ccbr-thumb {
  display: block;
  width: 100%;
}
.coso-content .cc-wrapper .ccBox .ccb-right .ccbr-gallery .ccbrg-content .ccbr-thumb i {
  display: block;
  position: relative;
  padding-top: 100%;
  width: 100%;
  overflow: hidden;
}
.coso-content .cc-wrapper .ccBox .ccb-right .ccbr-gallery .ccbrg-content .ccbr-thumb i img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.coso-content .cc-wrapper .ccBox .ccb-right .ccbr-gallery .swiper-button-next,
.coso-content .cc-wrapper .ccBox .ccb-right .ccbr-gallery .swiper-button-prev {
  background-image: none;
  width: 42px;
  height: 42px;
  transition: opacity 0.15s;
  opacity: 0;
}
.coso-content .cc-wrapper .ccBox .ccb-right .ccbr-gallery .swiper-button-next.swiper-button-disabled,
.coso-content .cc-wrapper .ccBox .ccb-right .ccbr-gallery .swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
}

@media screen and (max-width: 768px) {
  .coso-content {
    padding: 20px 0;
  }
  .coso-content .cc-wrapper {
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .coso-content .cc-wrapper.multiElm {
    padding: 0;
  }
  .coso-content .cc-wrapper.multiElm .cc-label {
    padding: 0 20px;
  }
  .coso-content .cc-wrapper .ccBox-container.multiBox {
    position: relative;
    overflow: hidden;
  }
  .coso-content .cc-wrapper .ccBox-container.multiBox .ccBox-wrapper {
    flex-direction: initial;
  }
  .coso-content .cc-wrapper .ccBox-container.multiBox .ccBox {
    width: 89.5% !important;
    margin-bottom: 0;
  }
  .coso-content .cc-wrapper .ccBox-container.multiBox .ccBox:first-child {
    margin-left: 20px;
  }
  .coso-content .cc-wrapper .ccBox-container.multiBox .ccBox:nth-last-child(1) {
    margin-right: 20px;
  }
  .coso-content .cc-wrapper .cc-label {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .coso-content .cc-wrapper .ccBox {
    flex-direction: column-reverse;
    padding: 0;
    margin-bottom: 0;
  }
  .coso-content .cc-wrapper .ccBox .ccb-right {
    width: 100%;
  }
  .coso-content .cc-wrapper .ccBox .ccb-right .ccbr-gallery {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .coso-content .cc-wrapper .ccBox .ccb-right .ccbr-gallery:hover .swiper-button-next,
  .coso-content .cc-wrapper .ccBox .ccb-right .ccbr-gallery:hover .swiper-button-prev {
    display: none;
  }
  .coso-content .cc-wrapper .ccBox .ccb-right .ccbr-gallery .ccbrg-content .ccbr-thumb i {
    padding-top: 35.8%;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left {
    width: 100%;
    margin-right: 0;
    padding: 15px;
    box-sizing: border-box;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-tiltle {
    margin-bottom: 10px;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-tiltle a {
    font-size: 23px;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-des {
    font-size: 15px;
    line-height: 120%;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-status .time-txt {
    font-size: 12px;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-about {
    margin-bottom: 20px;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-about .aboutCol:nth-last-child(1) {
    border-right: 0;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-about .aboutCol .ac-label {
    font-size: 10px;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-about .aboutCol .ac-value {
    font-size: 12px;
    text-align: start;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-listActionLink {
    flex-direction: column;
    margin-bottom: 0;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-listActionLink .action-link-item {
    width: 100%;
    margin-bottom: 8px;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-listActionLink .action-link-item:nth-last-child(1) {
    margin-bottom: 0;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-listActionLink .action-link-item .action-link {
    height: 38px;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-listActionLink .action-link-item .action-link .icn {
    width: 18px;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-listActionLink .action-link-item .action-link .txt {
    font-size: 15px;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-phone {
    margin-bottom: 15px;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-phone .phoneNumber .icn {
    width: 20px;
    margin-right: 6px;
  }
  .coso-content .cc-wrapper .ccBox .ccb-left .ccbl-phone .phoneNumber .txt {
    font-size: 12px;
  }
}/*# sourceMappingURL=coso.css.map */